.register {
  &__page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://images.pond5.com/planet-cartoon-space-animation-background-footage-090107031_prevstill.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 16px;
      background: rgba(255, 255, 255, 0.48);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(6.7px);
      -webkit-backdrop-filter: blur(6.7px);
      border: 1px solid rgba(255, 255, 255, 1);
      &__form {
        display: flex;
        flex-direction: column;
      }
      span:hover {
        cursor: pointer;
        color: #fff;
        text-decoration: underline;
        font-weight: 700;
      }
    }
  }
}
