.login {
  &__page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://t3.ftcdn.net/jpg/05/69/72/02/360_F_569720237_58rhoQoMjxyB0QCeXQK0OVUA0qNogTmq.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 16px;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid rgba(255, 255, 255, 0.3);
      &__form {
        display: flex;
        flex-direction: column;
      }

      span:hover {
        cursor: pointer;
        color: rgb(55, 55, 255);
        text-decoration: underline;
        font-weight: 700;
      }
    }
  }
}
